<main class="content-container">
  <mat-form-field class="selectForm">
    <input matInput type="text" id="searchField" name="searchField" placeholder="Nach Gebäude suchen"
           aria-label="Gebäude auswählen"
           [formControl]="ctrl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let building of filteredBuildings | async" [value]="building.name"
                  (onSelectionChange)="centerMap(building.coordinate, $event)">
        {{ building.name }}
        <span *ngIf="building.nickname">({{ building.nickname }})</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="output">
    <div id="map"></div>
  </div>
</main>
