<main class="content-container">
  <mat-form-field class="selectForm">
    <!-- list available sources -->
    <mat-select id="sourceSelector" placeholder="Quelle auswählen:"
                (selectionChange)="selectHandler($event)">
      <mat-option *ngFor="let feed of this.feeds" [value]="feed">
        {{ feed.feedName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="output" *ngIf="activeSource">
    <mat-card *ngFor="let item of activeSource.items" (click)="openLinkForItem(item)" class="mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>
          <h3>{{ item.title }}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{item.pubDate | date: 'dd.MM.yyyy' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content [innerHtml]="item.description"></mat-card-content>
      <mat-chip-list *ngIf="item.categories.length > 0">
        <mat-chip class="grey" *ngFor="let cat of item.categories">
          {{ cat }}
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</main>
