.output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  width: 350px;
}

mat-card-footer {
  position: absolute;
  right: 25px;
  bottom: 30px;
  max-width: 350px;
}

/deep/.mat-chip-list-wrapper {
  flex-direction: row-reverse !important;
  flex-wrap: wrap-reverse !important;
}
.mat-tab-labels {

}
/deep/ .mat-tab-header {
  background-color: white;
}

/deep/.mat-tab-header-pagination {
  background-color: #fff;
}
