.output {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card:hover {
  box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12);
  cursor: pointer;
}

mat-card {
  width: 350px;
}

mat-card-footer {
  position: absolute;
  right: 25px;
  bottom: 30px;
  max-width: 350px;
}

/deep/.mat-chip-list-wrapper {
  flex-direction: row-reverse !important;
  flex-wrap: wrap-reverse !important;
}
.mat-tab-labels {

}
/deep/ .mat-tab-header {
  background-color: white;
}

/deep/.mat-tab-header-pagination {
  background-color: #fff;
}
