<main class="content-container">
  <ng-container *ngIf="canteens.length > 0; else spinner">
    <mat-tab-group (selectedTabChange)="setActiveCanteen($event)">
      <mat-tab *ngFor="let canteen of canteens" label="{{ canteen.name }}">
        <mat-form-field class="selectForm mat-elevation-z3">
          <mat-select placeholder="Tag auswählen" [(ngModel)]="today">
            <mat-option *ngFor="let day of canteen.days" [value]="day" (onSelectionChange)="handleSelect($event)">
              {{ day }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="output" *ngIf="counters.length > 0">
          <mat-accordion>
            <!-- counters for canteen -->
            <mat-expansion-panel *ngFor="let counter of counters">
              <mat-expansion-panel-header>
                {{ counter.name }}
              </mat-expansion-panel-header>
              <!-- meals for counter -->
              <mat-card *ngFor="let meal of counter.meals">
                <mat-card-content>
                  {{ meal.description }}
                  <br>
                  <br>
                  <div *ngIf="meal.hints">
                    Nährwertangaben: {{ meal.hints }}
                  </div>
                  <mat-card-footer>
                    <mat-chip-list [selectable]="false">
                      <mat-chip class="grey">
                        {{ meal.priceStudents |currency: '€' }} / {{meal.priceEmployees | currency: '€' }}
                      </mat-chip>
                      <mat-chip class="green" *ngIf="meal.vegan">{{ meal.vegan }}</mat-chip>
                      <mat-chip class="red" *ngIf="meal.soldOut">{{ meal.soldOut }}</mat-chip>
                    </mat-chip-list>
                  </mat-card-footer>
                </mat-card-content>
              </mat-card>
              <mat-card *ngIf="counter.meals.length === 0">
                Heute geschlossen
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</main>
