<!-- wrap whole page -->
<div class="page-container">
  <!-- toolbar with heading -->
  <mat-toolbar color="primary" class="mat-elevation-z3">
    <button mat-icon-button (click)="snav.toggle()" aria-label="Menü öffnen">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 id="page-title">{{title}}</h1>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="mat-sidenav-container" >
    <!-- navigation menu -->
    <mat-sidenav #snav mode="over" (click)="snav.toggle()" role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink="/">
          <mat-icon svgIcon="home" color="primary" class="nav-icon"></mat-icon>
          Start
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Nachrichten/">
          <mat-icon svgIcon="news" color="primary" class="nav-icon"></mat-icon>
          Nachrichten
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Campus-Karte/">
          <mat-icon svgIcon="map" color="primary" class="nav-icon"></mat-icon>
          Campus-Karte
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Busfahrpläne/">
          <mat-icon svgIcon="bus" color="primary" class="nav-icon"></mat-icon>
          Busfahrpläne
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Personensuche/">
          <mat-icon svgIcon="searchPerson" color="primary" class="nav-icon"></mat-icon>
          Personensuche
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Veranstaltungen/">
          <mat-icon svgIcon="calendar" color="primary" class="nav-icon"></mat-icon>
          Veranstaltungen
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Mensa/">
          <mat-icon svgIcon="meal" color="primary" class="nav-icon"></mat-icon>
          Speisepläne
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Wetter/">
          <mat-icon svgIcon="weather" color="primary" class="nav-icon"></mat-icon>
          Wetter
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Öffnungszeiten/">
          <mat-icon svgIcon="clock" color="primary" class="nav-icon"></mat-icon>
          Öffnungszeiten
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/Bibliotheksausweis/">
          <mat-icon svgIcon="id" color="primary" class="nav-icon"></mat-icon>
          Bibliotheksausweis
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- wrapper for page content -->
    <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
      <!-- page content inserted from router -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
