<!-- wrap whole page -->
<div class="page-container">
  <!-- toolbar with heading -->
<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 id="page-title" >{{title}}</h1>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
  <!-- navigation menu -->
  <mat-sidenav #snav [mode] = "over" >
    <mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>

  <!-- wrapper for page content -->
  <mat-sidenav-content>
    <router-outlet>
      <!-- page content inserted from router -->
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
