<main class="content-container">
  <header class="mat-elevation-z3"><h1>Wilkommen im Studierendenportal der Johannes Gutenberg-Universität Mainz</h1></header>
  <div class="output">
    <mat-card class="mat-elevation-z3" routerLink="/Nachrichten/">
      <mat-card-header>
        <mat-card-title><h2>Nachrichten</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Neuigkeiten aus verschiedenen Bereichen der Universität
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Campus-Karte/">
      <mat-card-header>
        <mat-card-title><h2>Campus-Karte</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Eine Karte des Universitätscampus mit Gebäudesuchfunktion
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Busfahrpläne/">
      <mat-card-header>
        <mat-card-title><h2>Busfahrpläne</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Abfahrtszeiten der Busse an den Stationen rund um den Campus
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Personensuche/">
      <mat-card-header>
        <mat-card-title><h2>Personensuche</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Suchfunktion, um DozentInnen und MitarbeiterInnen der Universität zu finden
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Veranstaltungen/">
      <mat-card-header>
        <mat-card-title><h2>Veranstaltungen</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Auflistung anstehender Veranstaltungen der Universität
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Mensa/">
      <mat-card-header>
        <mat-card-title><h2>Speisepläne</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Speisepläne der Mensen auf dem Campus
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Wetter/">
      <mat-card-header>
        <mat-card-title><h2>Wetter</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Wetterdaten der Messstation des Instituts der Physik der Atmosphäre
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Öffnungszeiten/">
      <mat-card-header>
        <mat-card-title><h2>Öffnungszeiten</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Öffnungszeiten verschiedener Einrichtungen
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Bibliotheksausweis/">
    <mat-card-header>
      <mat-card-title><h2>Bibliotheksausweis</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Digitaler Bibliotheksausweis
    </mat-card-content>
  </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/PC-Pools/">
      <mat-card-header>
        <mat-card-title><h2>PC-Pools</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Liste der PC-Pools inklusive Ausstattung
      </mat-card-content>
    </mat-card>
  </div>
</main>
