<main class="content-container">
  <header><h1>Wilkommen im Studierendenportal der Johannes Gutenberg-Universität Mainz</h1></header>
  <div class="output">
    <mat-card class="mat-elevation-z3" routerLink="/Nachrichten">
      <mat-card-header>
        <mat-card-title><h2>Nachrichten</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Neuigkeiten aus verschiedenen Bereichen der Universität
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3" routerLink="/Campus-Karte">
      <mat-card-header>
        <mat-card-title><h2>Campus-Karte</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Eine Karte des Universitätscampus mit Gebäudesuchfunktion
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <mat-card-title><h2>Busfahrpläne</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Abfahrtszeiten der Busse an den Stationen rund um den Campus
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <mat-card-title><h2>Personensuche</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Suchfunktion, um DozentInnnen und MitarbeiterInnen der Universität zu finden
      </mat-card-content>
    </mat-card>
  </div>
</main>
