.output {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
}

header {
  background-color: white;
  width: 75vw;
  min-width: 30px;
  margin: 10px auto 5px;
  border-radius: 2px;
  padding: 24px;
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  header {
    margin: 30vh auto 0;
  }
  .output {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 1024px){
  .output {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 425px){
  header>h1 {
    font-size: 20px;
  }
  .output {
    grid-template-columns: auto;
  }
}


mat-card {
  width: 220px;
  mat-card-content {
    text-align: center;
  }
}

mat-card:hover {
  box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12);
  cursor: pointer;
}
