/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

mat-icon {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  padding-right: 16px;
  min-width: 24px;
}

body {
  margin: 0;
  height: 100%;
}

mat-toolbar {
  z-index: 2;
}

mat-sidenav-content {
  background-image: url('/assets/img/Header.jpg');
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  margin: 10px 10px;
}

.selectForm.mat-form-field {
  display: block;
  margin: 0 auto 0;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
}
// Material-Card styling
.mat-card-header-text {
  width: 100%;
}

mat-card {
  position: relative;
  margin: 5px;
  padding: 24px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  mat-card-header {
    display: block;
    h2 {
      text-align: center;
    }
  }
  mat-card-content {
    padding-bottom: 5px;
    text-align: justify;
  }
}

.selectForm {
  width: 400px;
}


@media screen and (max-width: 425px) {

  .selectForm {
    width: 100%;
  }

  mat-expansion-panel {
    margin: 0;
  }

  .mat-expansion-panel-spacing {
    margin: 16px 0px;
  }

  mat-expansion-panel.mat-expanded {
    margin: 16px -10px;
  }
}

mat-spinner {
  margin: 20% auto;
}

.mat-tab-labels {
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)
}

.mat-tab-header {
  background-color: transparent!important;
  border-bottom: none!important;
}
