table {
  width: 100%;
  text-align: left;
}

.output {
  text-align: center;
}

#personForm {
  text-align: center;
  margin: 10px auto;

}

.selectForm {
  display: inline-block;
  margin: 0 5px;
}

.orgname {
  max-width: 250px;
}

th>mat-icon {
  vertical-align: bottom;
  padding-right: 5px;
}

@media screen and (min-width: 426px) {
  .mat-expansion-panel-spacing {
    margin: 16px auto;
  }
  button {
    margin-top: 10px;
  }
}
